@import "../../static/css/conf";
.showcase-bg {background: #fff}
.show_list {
  margin-right: -15px;
  height: auto;
  padding-top: 40px;
  width: 100%;
  overflow: hidden;

  li {
    float: left;
    width: 358px;
    height: 240px;
    border: 1px solid #f2f2f2;
    position: relative;
    background-color: #fff;
    margin-left: 30px;
    margin-bottom: 30px;
    overflow: hidden;

    &:hover {
      transform: scale(1,1);
      transition: all .3s ease-out 0s;
      box-shadow: 0 6px 10px 5px rgba(0,0,0,.08);
    }
  }
  .show_list_box {
    position: relative;
    width: 358px;
    height: 240px;

    &:hover .show_list_box_t {
      top: -36px;
    }
    &:hover .show_shade {
      bottom: 0;
    }

    .show_list_box_t {
      height: 260px;
      transition: all .6s cubic-bezier(.215,.61,.355,1);
      position: absolute;
      top: 0;
      img {
        width: 358px;
        height: 240px;
      }
    }
  }

  .show_shade {
    height: 74px;
    width: 100%;
    position: absolute;
    bottom: -74px;
    transition: all .45s cubic-bezier(.215,.61,.355,1);
  }
  .show_shade_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 74px;
    background: #fff;
  }
  .show_shade_txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 54px;
    padding: 15px 0 5px 30px;

    span {
      width: 270px;
      font-size: 16px;
      color: #666;
      display: block;
      height: 26px;
      line-height: 26px;
      overflow: hidden;
    }
    i {
      width: 270px;
      display: block;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      color:#999;
      font-style: normal;
    }
  }

  .show_list_but {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 20px;
    display: block;
    background: @c-green;
    opacity: 0.8;
    margin-top: 8px;
    position: absolute;
    bottom: 18px;
    right: 20px;
    transition: all .3s ease-out 0s;
    color:#fff;

    &:hover {
      opacity: 1;
    }
  }
}