#wx-pop i {
  width: 200px;
  height: 200px;
  background: url("wx.jpg");
  display: block;
  background-size: 100% 100%;
}

#sider-tools {
  width: 30px;
  height: 140px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 99;
  a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: #8b8b8b;
    background-color: rgba(31,31,31,.6);
    color: #fff;
    text-align: center;
    transition: all ease .3s;

    i {
      margin-top: 7px;
      font-size: 18px;
    }

    &:hover {
      background-color: rgba(31,31,31,.8);
    }
  }
  .qq {
    background-color: rgba(234,73,60,.8);
    &:hover {
      background-color: rgba(234,73,60,1);
    }
  }
  .gotop {
    margin-top:10px;
    i {
      //margin-top: 2px;
    }
  }
  .sshare {
    background-color: rgba(234,73,60,.8);
    i {
      font-size:22px;
    }
    &:hover {
      background-color: rgba(234,73,60,1);
    }
  }

  .sweixin {
    background-color: rgba(36,183,39,.8);
    line-height: 34px;
    i {
      //font-size:20px;
    }
    &:hover {
      background-color: rgba(36,183,39,1);
    }
  }
}