#footer{background:#39424f;width:100%;position:relative;z-index:1;text-align:center}#footer p{text-align:center;padding:20px 60px;font-size:12px;color:#8e8e8e;height:20px;line-height:20px}#cnzz_stat_icon_1257475931{display:none}