.pager {
    padding: 40px 0;
    height: 36px;
    text-align: center;

    a,span {
        width: 36px;
        height: 36px;
        display: inline-block;
        color: #a9a9a9;
        line-height: 36px;
        text-align: center;
        font-family: Arial;
        margin-right: 5px;
        transition: background-color 0.2s ease-out;

        &.current,&:hover {
            background: #39b7f3;
            color: #fff;
            text-decoration: none;
        }

        &.disabled {
            cursor: default;
            color:#ddd
        }
    }
}