#header {
  width: 100%;
  height: auto;
  position: fixed;
  padding-top: 20px;
  font-size: 14px;
  transition: all ease .3s;
  z-index: 99;
  background-color: rgba(255,255,255,.95);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  top:0;
  left:0;
  #logo {
    transition: all ease .2s;
  }

  &.mini {
    background-color: rgba(255,255,255,.9);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding-top: 10px;

    #logo {
      margin-top:5px;
    }


    li.navitem {
      padding-bottom: 0;
    }
  }

  .content {
    padding: 0 40px;
  }

  #logo {
    width: auto;
    height: 40px;
    display: block;
    float: left;
    margin-right: 50px;
  }

  #nav {
    float: right;

    li.navitem {
      padding: 10px 30px 0 30px;
      width: auto;
      line-height: 40px;
      height: 50px;
      float: left;
      position: relative;
      transition: all ease .3s;

      a {
        color: #999;
        transition: all ease-out .3s;
        &:hover {
          color: #00C0FF;
        }

      }
      &.active {
        border-bottom:3px solid #00C0FF;
        a {
          color: #00C0FF;
        }
      }

      &:hover {
        ul.subnav {
          opacity: 1;
          transform: translate3d(0px, 0px, 0px);
          visibility: visible;
        }
      }
    }

    ul.subnav {
      position: absolute;
      width: auto;
      border-top: #00C0FF 3px solid;
      top: 58px;
      opacity: 0;
      transition: all 0.3s ease 0s;
      transform: translate3d(0px, 10px, 0px);
      visibility: hidden;

      a {
        padding: 14px 30px;
        width: 110px;
        height: 20px;
        line-height: 20px;
        background: rgba(255, 255, 255, 1);
        display: block;
        font-size: 12px;
        transition: all 0.2s ease-out 0s;
        color: #999;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

        i {
          float: right;
          margin-top: 5px;
          transition: all ease-out .2s;
          opacity: 0;
        }

        &:hover {
          text-indent: 10px;
          background: #f4f4f4;
          color: #6c6c6c;

          i {
            opacity: 1;
          }
        }
      }
    }
  }
}