<div id="footer">
    <p>COPYRIGHT (C) 2015 N设 - 工作室. ALL RIGHTS RESERVED 蜀ICP备16001793号-1</p>
</div>
{% require "./home-footer.less" %}
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257475931'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1257475931' type='text/javascript'%3E%3C/script%3E"));</script>