@import "conf";
a {
  color:@c-blue;
}
/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.clear{clear:both;height:0px;overflow:hidden;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-bn{border:none!important;}
.f-bgn{background-image:none!important;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-ps{position:static!important;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-fs12{font-size:12px;}
.f-fs14{font-size:14px;}
.f-fs16{font-size:16px;}
.f-fs18{font-size:18px;}
.f-fs20{font-size:20px;}
.f-fs24{font-size:24px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.ml-1{margin-left:-1px}.mt-1{margin-top:-1px}.m0{margin:0 !important}.mt1{margin-top:1px}.mt2{margin-top:2px}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt40{margin-top:40px}.mr0{margin-right:0 !important}.mr2{margin-right:2px}.mr5{margin-right:5px !important}.mr8{margin-right:8px}.mr10{margin-right:10px}.mr20{margin-right:20px}.mr60{margin-right:60px}.mb1{margin-bottom:1px}.mb2{margin-bottom:2px}.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb20{margin-bottom:20px}.mb40{margin-bottom:40px}.ml1{margin-left:1px}.ml2{margin-left:2px}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml20{margin-left:20px}.ml30{margin-left:30px}.ml40{margin-left:40px}.ml50{margin-left:50px}.mt7{margin-top:7px}.p1{padding:1px}.p2{padding:2px}.p5{padding:5px}.p10{padding:10px}.p20{padding:20px}.p0{padding:0 !important}.pl25{padding-left:25px}.pl30{padding-left:30px}.pt0{padding-top:0 !important}.pt1{padding-top:1px}.pt2{padding-top:2px}.pt5{padding-top:5px}.pt10{padding-top:10px}.pt20{padding-top:20px}.pr1{padding-right:1px}.pb2{padding-bottom:2px}.pr5{padding-right:5px}.pr10{padding-right:10px}.pr20{padding-right:20px}.pb1{padding-bottom:1px}.pr2{padding-right:2px}.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}.pb20{padding-bottom:20px}.pl1{padding-left:1px}.pl2{padding-left:2px}.pl5{padding-left:5px}.pl10{padding-left:10px}.pl20{padding-left:20px}
.f-bdl {border-bottom:1px solid #e9e9e9;}
.via-tit a{font-size: 15px}
.form-group {
  margin-bottom: 15px;
}
.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  height: 24px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}
.form-control:focus, .single-line:focus {
  border-color: #1ab394 !important;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF;
}
.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.btn-block {
  display: block;
  width: 100%;
}
.bgmask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;

  z-index: 1;
  display: none;
  background: #000;
}
.module {
  width: 100%;
  min-width: 1200px;
  height: auto;
  padding: 120px 0;
  background-color: #F7F7F7;
  border-top: 1px solid #F3F3F3;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .module-box {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    z-index: 10;
    position: relative;
  }

  .module-bg {

  }
  .module-tit {
    width: 1200px;
    height: 64px;
    text-align: center;

    h2 {
      font-size: 24px;
      color: #333;
      line-height: 38px;
      height: 38px;
      overflow: hidden;
      font-family: HELVETICANEUELTPRO-THEX,"微软雅黑";
    }

    p {
      height: 26px;
      font-size: 14px;
      color: #b1b1b1;
      line-height: 26px;
      overflow: hidden;
      font-family: HELVETICANEUELTPRO-THEX,"微软雅黑";
    }
  }

  .module-bot {
    overflow: hidden;
    margin:0 auto;
  }

  .module-more {
    border: #dfdfdf 1px solid;
    background: rgba(255,255,255,.0);
    width: 360px;
    height: 58px;
    display: block;
    margin: 50px auto 0px;
    line-height: 60px;
    font-size: 20px;
    color: @c-blue;
    border-radius: 30px;
    transition: all ease-out .3s;
    text-align: center;
    font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";

    &:hover {
      background: @c-blue;
      border: 1px solid @c-blue;
      color:#fff;
    }
  }
}