.about_bot {
  width: 615px;
  height: 230px;
  float: left;
  padding: 80px 0;
  line-height: 26px;
  font-size: 13px;
  color: #878787;
  overflow-x: hidden;
}
.wflow_bg {background: #346B8A;}
.wflow {
  .module-bot {
    width: 1200px;
    text-align: center;
  }

  .module-tit {
    h2 {
      color:#fff;
    }
    p {
      color:#eee;
    }
  }
}
.wflow-list {
  width:1000px;
  display: inline-block;
  margin:80px auto 0 auto;
  li {
    float: left;
    width: 25%;
    padding: 0 20px;
    position: relative;
    text-align: center;
    color:#fff;
    box-sizing: border-box;

    i.i-img {
      display: inline-block;
      width: 83px;
      height: 68px;
      background: url(i/icon_work.png);
    }

    i.i-img-pc {
      background-position:0 -86px;
    }

    i.i-img-arr {

      background-position:0 -169px;
    }

    i.i-img-tar {
      height: 75px;
      background-position:0 -270px;
    }

    .wflow-title {
      font-family: "微软雅黑";
      text-transform: uppercase;
      vertical-align: middle;
      margin: 11px 0 7px;
      font-size: 16px;

      i {
        margin-right: 5px;
      }
    }




    .separator {
      height: 1px;
      width: 60px;
      display: block;
      margin: 20px auto;
      background-color: #fff;
      border: 0 none;
      outline: none;
    }

    .wflow-step-text {
      line-height: 140%;
    }
  }
}