@import "conf";
.banner {overflow: hidden;height: 380px;width: 100%;}
.inner-content {
  width: 1200px;
  overflow: hidden;
  min-height: 600px;
  _height:600px;
  margin:0 auto;

  .mt {
    text-align: center;
    margin-top:40px;
    h3 {
      font-size: 24px;
      color: #333;
      line-height: 38px;
      height: 38px;
      font-weight: normal;
      overflow: hidden;
      font-family:  "微软雅黑";
    }

    p {
      height: 26px;
      font-size: 14px;
      color: #b1b1b1;
      line-height: 26px;
      overflow: hidden;
      font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    }
  }
}

.category {
  text-align: center;
  padding-bottom: 50px;
  padding-top:20px;

  a {
    line-height: 16px;
    height: 16px;
    padding: 8px 16px;
    color: #616161;
    border: #d2d2d2 1px solid;
    margin-right: 2px;
    display: inline-block;
    border-radius: 1px;

    &.active {
      background: @c-blue;
      border-color: @c-blue;
      color:#fff!important;
    }
    &:hover {
      border-color: @c-blue;
      color:@c-blue;
      text-decoration: none;
    }
  }
}

.post-detail {
  text-align: left;
  width:960px;
  margin:40px auto;
  background: #fff;
  padding:40px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

  .mt {

    margin-bottom:40px;
    h3 {
      font-size: 24px;
      color: #333;
      line-height: 38px;
      height: 38px;
      overflow: hidden;
      font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    }

    strong {
      font-weight: normal;
      height: 26px;
      font-size: 14px;
      color: #b1b1b1;
      line-height: 26px;
      overflow: hidden;
      font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    }

  }

  img {
    width: 100%;
  }
}

.show_list {
  min-height: 272px;
}