body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 12px;
  color: #676a6c;
  height: 100%;
  overflow-x: hidden;
}
/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.clear{clear:both;height:0px;overflow:hidden;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-bn{border:none!important;}
.f-bgn{background-image:none!important;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-ps{position:static!important;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-fs12{font-size:12px;}
.f-fs14{font-size:14px;}
.f-fs16{font-size:16px;}
.f-fs18{font-size:18px;}
.f-fs20{font-size:20px;}
.f-fs24{font-size:24px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.ml-1{margin-left:-1px}.mt-1{margin-top:-1px}.m0{margin:0 !important}.mt1{margin-top:1px}.mt2{margin-top:2px}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt40{margin-top:40px}.mr0{margin-right:0 !important}.mr2{margin-right:2px}.mr5{margin-right:5px !important}.mr8{margin-right:8px}.mr10{margin-right:10px}.mr20{margin-right:20px}.mr60{margin-right:60px}.mb1{margin-bottom:1px}.mb2{margin-bottom:2px}.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb20{margin-bottom:20px}.mb40{margin-bottom:40px}.ml1{margin-left:1px}.ml2{margin-left:2px}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml20{margin-left:20px}.ml30{margin-left:30px}.ml40{margin-left:40px}.ml50{margin-left:50px}.mt7{margin-top:7px}.p1{padding:1px}.p2{padding:2px}.p5{padding:5px}.p10{padding:10px}.p20{padding:20px}.p0{padding:0 !important}.pl25{padding-left:25px}.pl30{padding-left:30px}.pt0{padding-top:0 !important}.pt1{padding-top:1px}.pt2{padding-top:2px}.pt5{padding-top:5px}.pt10{padding-top:10px}.pt20{padding-top:20px}.pr1{padding-right:1px}.pb2{padding-bottom:2px}.pr5{padding-right:5px}.pr10{padding-right:10px}.pr20{padding-right:20px}.pb1{padding-bottom:1px}.pr2{padding-right:2px}.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}.pb20{padding-bottom:20px}.pl1{padding-left:1px}.pl2{padding-left:2px}.pl5{padding-left:5px}.pl10{padding-left:10px}.pl20{padding-left:20px}
.f-bdl {border-bottom:1px solid #e9e9e9;}
.via-tit a{font-size: 15px}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.img-circle {
  border-radius: 50%;
}
.white-bg {
  background: #fff;
}
.page-heading {
  border-top: 0;
  padding: 0px 10px 20px 10px;
}
.ibox-title {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;

  h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
  }
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
  clear: both;
  overflow: hidden;
}

.note-editor {
  height: auto;
  min-height: 300px;
  border: 1px solid #e5e6e7!important;
}
.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}
.page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
  margin: 0 0 0 220px;
  background: #f3f3f4;;
}

.navbar-static-side {
  z-index: 2;
  position: absolute;
  width: 220px;
  background-color: transparent;
  border-color: #2f4050;
}

.u-list li {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  margin: 2px 0;
  display: table;
  a {
    display: block;
    color: #333;
    width: 250px;
    margin-right: 50px;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      color: #337ab7;
      text-decoration: none;
    }
  }

  span {
    color: #999;
    margin-right: 30px;
    display: table-cell;
    width: 150px;
  }
  .checkbox  {
    display: inline-block;
    margin:0;
    float:left;
  }
}




.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-label {
    margin-left: 5px;
  }

  &>li {
    position: relative;
    display: block;
    overflow: hidden;

    &.active {
      border-left: 4px solid #19aa8d;
      background: #293846;
    }

    &>a {
      color: #a7b1c2;
      font-weight: 600;
      padding: 14px 20px 14px 25px;
      display: block;

      &:hover {
        background-color: #293846;
        color: white;
      }
    }
  }
}

.nav-second-level li a {
  padding: 7px 10px 7px 52px;
}



.nav-header {
  padding: 33px 25px;
  background: url("i/header-profile.png") no-repeat;

  .profile-element {
    line-height: 48px;
    img {
      width: 48px;
      height: 48px;
    }

    strong {
      margin-left: 10px;
      color:#ddd;
    }
  }
}