@import "../../static/css/conf";
.news_bg {background: #fff}
.news-ul {
  margin-top:80px;
  clear:both;
  li {
    float: left;
    width: 358px;
    height: 358px;
    border: 1px solid #f2f2f2;
    position: relative;
    background-color: #fff;
    margin-left: 30px;
    margin-bottom: 60px;

    &:hover .news_bot_bigli {
      height: 440px;
      box-shadow: 0 6px 20px 5px rgba(0,0,0,.08);
      border: 1px solid #FFF;
      background: #f7f7f7;
    }
  }
}
.news_bot_li_top {
  display: block;
  padding: 54px 40px 0 40px;
  height: 194px;

  span {
    font-size: 16px;
    color: #575757;
    line-height: 32px;
    height: 64px;
    overflow: hidden;
    display: block;
  }

  i {
    color: #999;
    line-height: 26px;
    height: 78px;
    overflow: hidden;
    display: block;
    margin-top: 16px;
  }
}

.news_bot_li_bot {
  background: #f7f7f7;
  height: 70px;
  display: block;
  padding: 40px 40px 0 40px;
  position: relative;

  span {
    font-size: 50px;
    color: #8F8F8F;
    line-height: 46px;
    display: block;
    font-family: HELVETICANEUELTPRO-THEX,"微软雅黑";
  }

  i {
    color: #666;
    line-height: 20px;
    overflow: hidden;
    display: block;
    font-size: 14px;
    font-family: HELVETICANEUELTPRO-THEX,"微软雅黑";
  }
}
.news_bot_bigli {
  position: absolute;
  top: -41px;
  left: -1px;
  width: 358px;
  height: 0;
  overflow: hidden;
  transition: all .6s cubic-bezier(.215,.61,.355,1) 0s;
  border: 1px solid transparent;

  .news_bot_li_bigtop {
    padding: 94px 40px 12px 40px;
    background: #13df81;
    color: #fff;

    span {
      font-size: 16px;
      color: #fff;
      line-height: 32px;
      height: 64px;
      overflow: hidden;
      display: block;
    }

    i {
      color: #fff;
      line-height: 26px;
      height: 78px;
      overflow: hidden;
      display: block;
      margin-top: 16px;
    }
  }
}