{% extends 'home:page/layout.tpl' %}

{% block content %}
    {% require "home:static/css/inner.less" %}
    {% widget "home:widget/header/header.tpl"%}
<div class="banner">
    <div style=" background-color: #39383E; background-repeat: no-repeat; background-position: center; background-size: cover;width: 100%; height: 380px;background-image: url(http://www.ndesig.com/static/home/static/upload/jRL9Fcn4CQ3kt0fHqWHcFO5L.jpg);">

    </div>
</div>

<div class="inner-content">
    <div class="mt">
        <h3>新闻</h3>
        <p>NEWS</p>
    </div>
    <div class="mc">
        {% widget "home:widget/newlist/newlist.tpl"%}
    </div>
</div>



    {% widget "home:widget/home_footer/home_footer.tpl"%}
    {% widget "home:widget/sider_tools/sider_tools.tpl"%}
{% require "home:page/new.tpl" %}{% endblock %}
