.service {
  .module-bot {
    width: 1000px;
    margin:0 auto;
  }
}

.service-list {
  width:1000px;
  display: inline-block;
  margin:80px auto 0 auto;
  li {
    float: left;
    width: 33.33%;
    padding: 0 20px;
    position: relative;
    text-align: center;
    color:#999;
    box-sizing: border-box;

    i.i-img {
      display: inline-block;
      width: 83px;
      height: 60px;
      line-height: 60px;
      font-size:60px;

      &.icon-computer {
        font-size:52px;
      }
    }


    .service-title {
      color: #444;
      font-size: 16px;
      line-height: 34px;
      height: 34px;
      overflow: hidden;
      margin-bottom: 12px;
      margin-top:20px;
    }
    p {
      color: #b1b1b1;
      line-height: 26px;
      height: 52px;
      overflow: hidden;
    }
    .service-step-text {
      line-height: 200%;
    }
  }
}